<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
    
<div id="home-container">
    <section id="feed-posts" class="animate__animated animate__bounceInLeft">
         <div id="post-form-container">
            <form action="/posts/create" id="new-post-form" method="POST" autocomplete="off">
                <div class="user-input-wrp">
                    <br/>
                    <textarea class="inputText" name="content" placeholder=" " required></textarea>
                    <span class="floating-label">
                        What's in your mind &#129488;
                        <!-- What's in your mind &#129488; Post here &#127919; &#128640; -->
                    </span>
                </div>
                <!-- <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea> -->
                <button type="submit">Post &#128640;</button>
            </form>
        </div>

        <div id="posts-list-container">
            <% for(post of posts){ %>
                
            <%- include('_post') -%>
                
            <%} %>
        </div>

    </section>

    <!-- Users secton. This includes Chats with friends, sent requests, received requests, etc -->
    <%- include('_users_section') -%>

    <!-- Chat box -->
    <%- include('_chat_box') -%>

</div>



<!-- Import the js file for styling -->
<script src="<%= assetPath('js/home_style.js') %>"></script>

<!-- importing this script for creating the post and comments through AJAX-->
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>  
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- It's important to keep (/js/home_post_comments.js) script file above this (/js/home_posts.js) file -->


<!-- Import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });

    // window.onbeforeunload = function() { return "Your work will be lost."; };
    // window.addEventListener('popstate', function(e){
    //     window.alert("Back button is clicked");
    // })
</script>

<!-- CDN of socket.io from (cdnjs.com socket.io) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<!-- Include the client side of socket -->
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user){ %>
    <script>
        const chatClass =  new ChatEngine('user-chat-box', '<%= locals.user.email %>', '<%= locals.user.id %>', '<%= locals.user.name %>');
    </script>
<% } %>