<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <!-- font awesome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        
        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        
        <!-- page css -->
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <!-- Display the flash messages if present -->
        <% if(flash.success && flash.success.length > 0){ %>
            <h5>
                <%= flash.success %>
            </h5>    
        <% } %>

        
        <main id="layout-main">
            <%- body %>

        </main>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>