<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/post.css') %>">


<!-- <svg width="26px" height="26px" viewBox="-4 -4 24 24" style=""><line x1="2" x2="14" y1="2" y2="14" stroke-linecap="round" stroke-width="2" stroke="#bec2c9"></line><line x1="2" x2="14" y1="14" y2="2" stroke-linecap="round" stroke-width="2" stroke="#bec2c9"></line></svg> -->

<div id="profile-page">
    <form id="cover-photo-section">
        <input id="cover-photo-input" type="file" name="cover-photo" hidden accept="image/*">
        <label for="cover-photo-input" class="bottom-right-cover-form-buttons">
            Edit Cover Photo
        </label>
        <button class="bottom-right-cover-form-buttons" type="submit">Upload selected image</button>
    </form>

    <section id="profle-section">
        <label for="change-avatar">
            <img src="<%= profile_user.avatar %>" alt="" onerror="this.onerror=null;this.src='/images/Users-avatar.png';">
            <span id="update-avatar"><i class="fas fa-camera"></i></span>
        </label>
        <input id="change-avatar" type="file" name="avatar" accept="image/*" hidden>
        <span>
            <span id="profile-display-name"><%= profile_user.name %></span>
                <br><small><%= profile_user.email %></small>
            </span>
        <button>Edit Profile</button>
    </section>

    <section id="profile-tab-section">
        <button class="profile-tabs">
            Posts
        </button>
        <button class="profile-tabs">
            About
        </button>
        <button class="profile-tabs">
            Friends
        </button>
        <button class="profile-tabs">
            More
        </button>
    </section>

    <section id="profile-content-container">
        <% for(post of posts){ %>
                
            <%- include('_post') -%>
                
        <%} %>
    </section>
</div>







<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <h1>You can update your name / profile picture here</h1>
    <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required hidden>
        
        <input type="file" name="avatar" accept="image/*">
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <!-- If friendship exists -->
    <% if(friendship){ %>
        <% if(friendship.accepted){ %>
            <a href="/friendship/remove-friend/<%= friendship.id %>"><button type="button">Remove Friend</button></a>

        <% }else{ %>
            <!-- Toggle friendship button for the request sender -->
            <% if(friendship.from_user == user.id){ %>
                <a class="toggle-friend-button" href="/friendship/toggle/<%= profile_user._id %>">
                    <button type="submit">Cancel Request</button>
                </a>
            <% }else{ %>
                <!-- Accept or delete friend for the receiver -->
                <a href="/friendship/accept-request/<%= friendship.id %>"><button type="button">Accept Request</button></a>
                <a href="/friendship/delete-request/<%= friendship.id %>"><button type="button">Delete Request</button></a>
            <% } %>

        <% } %>
    <% }else{ %>
        <!-- Toggle friendship button -->
        <a class="toggle-friend-button" href="/friendship/toggle/<%= profile_user._id %>">
            <button type="submit">Add Friend</button>
        </a>
    <% } %>

<%} %>


<!-- Blur the screen when side menu of nav bar is clicked -->
<div id="blur-screen" class="animate__animated animate__bounceInLeft">
</div>



<script src="<%= assetPath('js/toggle_friendship.js') %>"></script>

<!-- Import the js file for styling -->
<script src="<%= assetPath('js/home_style.js') %>"></script>

<!-- importing this script for creating the post and comments through AJAX-->
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- It's important to keep (/js/home_post_comments.js) script file above this (/js/home_posts.js) file -->


<!-- Import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>